  <section id="about">


    <!-- Background layers -->
    <div class="video-gradient-border">
      <video id="aboutVideo" muted playsinline preload="auto">
        <source src="images/about-vid.mp4" type="video/mp4">
      </video>
    </div>
  <div class="about-bg-static"></div>

    <h2 class="about-title">ABOUT</h2>
  
    <div class="about-content">
  
      <!-- LEFT -->
      <div class="about-left">
  
        <div class="portrait">
          <img src="images/Rivera, Linden Powell L..jpg" alt="Profile">
  
          <div class="portrait-stats">
  
            <div class="stat">
              <h2>20</h2>
              <span>Age</span>
            </div>
  
            <div class="stat">
              <h2>5</h2>
              <span>Projects</span>
            </div>
  
          </div>
  
        </div>
  
      </div>
  
      <!-- RIGHT -->
      <div class="about-right">
  
        <p class="about-description">
          I am a 20-year-old student studying BSCpE in Polytechnic University of the Philippines - Sta. Mesa. I have hands on experience in crimping, cabling and basic troubleshooting of electronics. I have worked on various programming projects such as simple games with the help of pygame, web applications, collabed with others to create a web and implement data structure and operating system algorithm simulators; I can use Python, HTML, CSS, and a little JS; alongside, I utilize AIs, Figma and GIT. I have used Flask as my first framework and currently learning next.js.
        </p>
  
        <div class="about-stats">

          <div class="stat-card">
              <h4>Education</h4>
              <p>Polytechnic University of the Philippines</p>
          </div>
      
          <div class="stat-card">
              <h4>Web Development</h4>
              <p>HTML · CSS · JavaScript · Flask · Next.js</p>
          </div>
      
          <div class="stat-card">
              <h4>AI Tools</h4>
              <p>ChatGPT · Claude · Gemini</p>
          </div>
      
          <div class="stat-card">
              <h4>Tools</h4>
              <p>Git · VS Code · Figma</p>
          </div>
      
      </div>
  
        </div>
  
      </div>
  
    </div>
  
  </section>
