<!-- EXPERIENCE -->
<section id="experience">

    <div class="container">

        <h2 class="experience-label">EXPERIENCE</h2>

        <div class="experience-list">

            <div class="experience-item">

                <div class="experience-year">
                    2026
                </div>

                <div class="experience-content">

                    <h3>Software and Technical Intern</h3>

                    <span>WorldCiti Colleges - Quezon City</span>

                    <p>
                        Gained hands-on experience in software, troubleshooting, IT operations, networking, and data management. Assisted in hospitals and school technical concerns, developed a professional portfolio, optimized media files, managed records, and received insights in Linux and web development. Exposed to business management, leadership and professional development practices within an IT environment.
                    </p>

                </div>

            </div>

            <div class="experience-item">

              <div class="experience-year">
                  2024-Present
              </div>

              <div class="experience-content">


                  <h3>BSCpE</h3>

                  <span>Polytechnic University of the Philippines - STA. MESA</span>

                  <p>
                    Pursuing a Bachelor of Science in Computer Engineering (BSCpE) at the Polytechnic University of the Philippines – Sta. Mesa. Throughout my studies, I have developed practical experience through projects involving web development, operating systems simulations, routing algorithms, and data structures, while expanding my knowledge of programming, software engineering, and computer hardware. 
                  </p>

              </div>

          </div>

        </div>

    </div>

</section>
