<!-- EXPERIENCE -->
<section id="experience">

    <div class="container">

        <h2 class="experience-label">EXPERIENCE</h2>

        <div class="experience-list">

            <div class="experience-item">

                <div class="experience-year">
                    2026
                </div>

                <div class="experience-content">

                    <h3>Software and Technical Intern</h3>

                    <span>WorldCiti Colleges - Quezon City</span>

                    <p>
                        Gained hands-on experience in software, troubleshooting, IT operations, networking, and data management. Assisted in hospitals and school technical concerns, developed a professional portfolio, optimized media files, managed records, and received insights in Linux and web development. Exposed to business management, leadership and professional development practices within an IT environment.
                    </p>

                </div>

            </div>

            <div class="experience-item">

              <div class="experience-year">
                  2024-2025
              </div>

              <div class="experience-content">

                  <h3>IBM Atendee</h3>

                  <span>Polytechnic University of the Philippines - STA. MESA</span>

                  <p>
                      ABCDE FGH I J K L M N O P Q R S T U V W X Y Z
                  </p>

                  <h3>BSCpE</h3>

                  <span>Polytechnic University of the Philippines - STA. MESA</span>

                  <p>
                      ABCDE FGH I J K L M N O P Q R S T U V W X Y Z
                  </p>

              </div>

          </div>

        </div>

    </div>

</section>
