<!-- RESUME -->
<section id="resume">

    <div class="container">

        <div class="resume-label">
            <span class="resume-label">RESUME AND CREDENTIALS</span>
        </div>

        <div class="resume-list">

            <a href="resume/GeneralResume.pdf"
               target="_blank"
               class="resume-card">

                <div>
                    <h3>Resume</h3>
                    <p>Linden Powell Rivera</p>
                </div>

                <span class="resume-arrow">
                    View ↗
                </span>

            </a>

            <a href="resume/"
               target="_blank"
               class="resume-card">

                <div>
                    <h3>BLANK</h3>
                    <p>BLANK</p>
                </div>

                <span class="resume-arrow">
                    View ↗
                </span>

            </a>

        </div>

    </div>

</section>
