  <section id="works">

    <div class="container">

        <span class="works-label">WORKS</span>

        <div class="works-grid">

            <div class="work-card large">

                <img src="images/project1.png" alt="">

                <div class="card-content">

                    <h3>OS Algorithm Simulator</h3>

                    <div class="tech-stack">
                        <i class="fa-brands fa-python"></i>
                        <i class="fa-brands fa-html5"></i>
                        <i class="fa-brands fa-css"></i>
                    </div>

                </div>

                <div class="overlay">

                    <p>
                        A web-based simulator implementing FCFS, SJF,
                        Priority Scheduling and Round Robin.
                    </p>

                </div>

            </div>

            <div class="work-card medium">
              <img src="images/project3.png" alt="">

              <div class="card-content">

                  <h3>Train Transit Map</h3>

                  <div class="tech-stack">
                      <i class="fa-brands fa-python"></i>
                      <i class="fa-brands fa-html5"></i>
                      <i class="fa-brands fa-css"></i>
                      <i class="fa-brands fa-js"></i>
                  </div>

              </div>

              <div class="overlay">

                  <p>
                      A web-based simulator implementing FCFS, SJF,
                      Priority Scheduling and Round Robin.
                  </p>

              </div>
            </div>

            <div class="work-card small">
              <img src="images/project2.png" alt="">

              <div class="card-content">

                  <h3>DSA Algorithm Simulator</h3>

                  <div class="tech-stack">
                      <i class="fa-brands fa-python"></i>
                      <i class="fa-brands fa-html5"></i>
                      <i class="fa-brands fa-css"></i>
                      <i class="fa-brands fa-js"></i>
                  </div>

              </div>

              <div class="overlay">

                  <p>
                      A web-based simulator implementing FCFS, SJF,
                      Priority Scheduling and Round Robin.
                  </p>

              </div>
            </div>

            <div class="work-card medium">
              <img src="images/project2.png" alt="">

              <div class="card-content">

                  <h3>DSA Algorithm Simulator</h3>

                  <div class="tech-stack">
                      <i class="fa-brands fa-python"></i>
                      <i class="fa-brands fa-html5"></i>
                      <i class="fa-brands fa-css"></i>
                      <i class="fa-brands fa-js"></i>
                  </div>

              </div>

              <div class="overlay">

                  <p>
                      A web-based simulator implementing FCFS, SJF,
                      Priority Scheduling and Round Robin.
                  </p>

              </div>
            </div>

        </div>

    </div>

</section>
