  <section id="works">

    <div class="container">

        <span class="works-label">WORKS</span>

        <div class="works-grid">

            <div class="work-card large">

                <img src="images/project1.png" alt="">

                <div class="card-content">

                    <h3>OS Algorithm Simulator</h3>

                    <div class="tech-stack">
                        <i class="fa-brands fa-python"></i>
                        <i class="fa-brands fa-html5"></i>
                        <i class="fa-brands fa-css"></i>
                    </div>

                </div>

                <div class="overlay">

                    <p>
                        Developed a web-based Operating Systems simulator featuring CPU Scheduling, Memory Management, Virtual Memory, and Disk Scheduling modules. Designed and implemented both the frontend and backend, creating interactive simulations that visualize operating system algorithms and improve user understanding.
                    </p>

                </div>

            </div>

            <div class="work-card medium">
              <img src="images/project3.png" alt="">

              <div class="card-content">

                  <h3>Metro Train Route Finder</h3>

                  <div class="tech-stack">
                      <i class="fa-brands fa-python"></i>
                      <i class="fa-brands fa-html5"></i>
                      <i class="fa-brands fa-css"></i>
                      <i class="fa-brands fa-js"></i>
                  </div>

              </div>

              <div class="overlay">

                  <p>
                    Contributed to the backend development of a train transit route mapping system that calculates the optimal path between stations. Implemented the routing logic to determine the destination route, identify intermediate stations along the journey, and process user input for efficient route generation.
                  </p>

              </div>
            </div>

            <div class="work-card small">
              <img src="images/project2.png" alt="">

              <div class="card-content">

                  <h3>DSA Algorithm Simulator</h3>

                  <div class="tech-stack">
                      <i class="fa-brands fa-python"></i>
                      <i class="fa-brands fa-html5"></i>
                      <i class="fa-brands fa-css"></i>
                      <i class="fa-brands fa-js"></i>
                  </div>

              </div>

              <div class="overlay">

                  <p>
                    Collabed and contributed to multiple data structures and algorithm-based applications, including a Customer Queue Management System, Binary Tree and Binary Search Tree implementations and a Sorting Algorithm Visualizer. These projects demonstrate proficiency in queue operations, tree traversals, searching, sorting algorithms, and data structure visualization, providing users with an interactive way to understand fundamental computer science concepts.
                  </p>

              </div>
            </div>
        </div>

    </div>

</section>
